.App {
	text-align: center;
}

.Reviews {
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
}

.ListOfReviews {
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
}

.NavBar {
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
}

.Header {
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
}

.ReviewCard img{
  height: 80%;
  width: 80%;
}

.ReviewCard li{
  list-style-type: none;
}