.App {
	text-align: center;
}

.Reviews {
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
}

.ListOfReviews {
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
}

.NavBar {
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
}

.Header {
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
}

.ReviewCard img {
	width: 30vw;
}

.ReviewCard li {
	list-style-type: none;
}

.SingleReview ul{
	padding-left: 0px;
}

.SingleReviewCard li {
	list-style-type: none;
}

.Comments {
	border: 1px solid black;
}

.Comment_Card {
	border: 1px solid black;
	padding: 10px;
	margin: 10px;
}

.Comments ul{
	padding-left: 0px;
}

.Comment_Card li {
	list-style-type: none;
}
